@page "/Calendario"

@inject NavigationManager navigationManager
@inject IHttpService http

<h3>Calendario de habitaciones</h3>

<div class="form-control-sm">
     <a class = "btn btn-primary" href="NuevaReserva"> Agregar reserva </a>
</div>


<div class="form-control">
    <input  class="form-control-md" type="date" @onchange="IrA"/>
    <label> Cantidad de dias a mostrar</label>
    <select  id="cmb_dias" class = "form-control-md" @onchange="DiasSel">
        <option value="7">7</option>
        <option value="14">14</option>
        <option value="30">30</option>
    </select>
</div>   


<div class="row">
    <div class="col-lg-15 col-md-offset-2">
        <div class="card">
            <div class="card-body d-flex justify-content-between align-items-center">
                <button class=" oi oi-arrow-circle-left" @onclick="DismFecha"></button>
                <button class=" oi oi-arrow-circle-right" @onclick="AumentarFecha" ></button>
            </div>
        </div>
    </div>
</div>


@*<input type="number" class="form-control-sm" @bind=@cant_dias @onclick="disponibilidad"/>*@


<table class="table table-bordered">
    <thead style="background-color:#D8E7F8">
        <tr>
            <th>Num Hab </th>
           @foreach(var lista in reservaciones) // lee los elementos de la primera fila
           {
              @foreach (var dias in lista)
              {
                  <th>@dias.Fecha.ToShortDateString()</th>
              } 
              break;
           }
        </tr>
    </thead>
    <tbody>
        @foreach (var lista in reservaciones)
       {
            <tr>
                <th>@lista[0].HabitacionId</th>
                    @foreach (var item in lista)
                    {
                        @if (item.ReservaId==0)
                        {
                            <td style= "background-color:#A0F981">Libre</td>
                        }
                        else
                        {
                            <td style= "background-color:#FD5050">Rva n°:  
                                <a href="/Reservas/Editar/@item.ReservaId">@item.ReservaId</a>
                            </td>
                        }
                    }
            </tr>
       }
    </tbody>
</table>
<br />

<div>
    <div>
        <label> Buscar reserva por codigo</label>
    </div>
        <input type="number" class="form-control-sm" @bind=@reservaConsultar/>
        <button class="btn btn-primary" @onclick="Buscar"> Buscar</button>
</div>

<Confirmacion   @ref="mensaje" 
                verCancelar = "false"
                verOk="true"
                Titulo="No se encontró"
                onCancel="conf"
                onConfirm="Cerrar">
                <div>
                    La reserva no existe.
                </div>

</Confirmacion>



@code {
    List<List<Reservacion>> reservaciones = new List<List<Reservacion>>();
    List<int> idsRes = new List<int>();
    Confirmacion mensaje;

    private int reservaConsultar=0;
    private DateTime fecha_Seleccion;
    private string fecha;

    int cant_dias = 7;


    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        fecha_Seleccion = DateTime.Today.Date;



        await disponibilidad();
    }
    private async Task DiasSel(ChangeEventArgs e)
    {
        cant_dias = int.Parse(e.Value.ToString());
        await disponibilidad();
    }
    private async Task IrA(ChangeEventArgs e)
    {
        string aux = e.Value.ToString();
        fecha_Seleccion = DateTime.Parse(aux);
        await disponibilidad();
    }

    private async Task disponibilidad()
    {
        fecha = $"{fecha_Seleccion.Year.ToString()}-{fecha_Seleccion.Month.ToString()}-{fecha_Seleccion.Day.ToString()}";
        try
        {
            var respuesta = await http.Get<List<List<Reservacion>>>($"api/Fechas/{fecha}?dias={cant_dias}");
            if (!respuesta.Error)
            {
                reservaciones = respuesta.Respuesta;
                StateHasChanged();

            }
        }
        catch (Exception)
        {
            navigationManager.NavigateTo("/");
        }

    }
    private async Task AumentarFecha()//paginacion
    {
        fecha_Seleccion = fecha_Seleccion.AddDays(cant_dias);
        await disponibilidad();
    }

    private void DismFecha()//paginacion
    {
        fecha_Seleccion = fecha_Seleccion.AddDays(-(cant_dias));
        disponibilidad();
    }

    private void Cerrar()
    {
        mensaje.Ocultar();
        reservaConsultar = 0;
        //StateHasChanged();
    }

    private async Task Buscar()
    {
        var resp = await http.Get<Reserva>($"api/Reserva/{reservaConsultar}");

        if (resp.Error)
        {
            mensaje.Ver();
        }
        else
        {
            navigationManager.NavigateTo($"/Reservas/Editar/{reservaConsultar}");
        }

    }  

    private void conf (){} 

    
}
