@page "/Calendario"

@inject IHttpService http

<h3>Calendario de habitaciones</h3>

<br />

<table class="table table-light">
    <thead>
        <tr>
            <th> </th>
            @foreach (var item in reservaciones[0] )
           {
               <th>@item.Fecha.ToShortDateString()</th>
           }
        </tr>
    </thead>
    <tbody>
        @foreach (var lista in reservaciones)
       {
        <tr>
            <th>@lista[0].HabitacionId</th>
            @foreach (var item in lista)
           {
               @if (item.ReservaId==0)
               {
                    <td style= "background-color:lightgreen">@item.ReservaId</td>
                }
                else
                {
                    <td style= "background-color:orangered">@item.ReservaId</td>
                }

            }
        </tr>
       }
    </tbody>
</table>


@code {
    List<List<Reservacion>> reservaciones = new List<List<Reservacion>>();

    protected override async Task OnInitializedAsync()
    {
        base.OnInitializedAsync();

        await disponibilidad();
    }

    private async Task disponibilidad()
    {
        var respuesta = await http.Get<List<List<Reservacion>>>("api/Fechas");
        if (!respuesta.Error)
        {
            reservaciones = respuesta.Respuesta;
        }
    }
}
